.form-element {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid $grey-medium;
    padding: 12px 18px 2px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: border-color 0.4s;

    &-checkbox {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;
        input { 
            display: none;
            &:checked {
                ~ svg {
                    stroke: $grey-extra-dark;
                    polyline {
                        stroke-dashoffset: 44;
                        
                    }
                }
                ~ div {
                    border-color: $grey-dark;
                }
            }
        }
        div {
            width: 22px;
            height: 22px;
            position: absolute;
            left: 0;
            border: 1px solid $grey-medium;
            border-radius: 4px;
        }
        svg {
            position: relative;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: $grey-medium;
            stroke-width: 1.5;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s ease;
            margin: 0 6px 0 1px;
            polyline {
                transition: all 0.2s linear;
                stroke-dasharray: 22;
                stroke-dashoffset: 66;
            }
        }
        &:hover svg { stroke: $grey-extra-dark; }
        span {
            font-size: 14px;
            color: $grey-extra-dark;
        }
    }

    &-label {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
        color: $grey-extra-dark;
        text-transform: uppercase;
        transition: color 0.4s;
    }

    &-status {
        &-text {
            display: flex;
            align-items: center;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            font-size: 14px;
            padding: 0 18px;
            border-radius: 10px;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            transition: opacity 0.4s, visibility 0.4s;
        }
        &-icon {
            top: calc(50% - 10px);
            left: -10px;
            font-size: 20px;
            background-color: $white;
            border-radius: 50%;
            z-index: 1;
            position: absolute;
            &:hover {
                ~ .form-element-status-text {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &.error {
        border-color: $error;
        .form-element-label { color: $error; }
        .form-element-status {
            color: $error;
            &-text {
                background-color: $error-extra-light;
            }
        }
    }
    &.warning {
        border-color: $warning;
        .form-element-label { color: $warning; }
        .form-element-status {
            color: $warning;
            &-text {
                background-color: $warning-extra-light;
            }
        }
    }
    &.info {
        .form-element-status {
            color: $info;
            &-text {
                background-color: $info-extra-light;
            }
        }
    }
}

input {
    border: none;
    font-size: 14px;
    color: $black;
    padding: 0 0 10px;
    background-color: $white;
    &::placeholder {
        color: $grey-medium;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill::first-line {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}