$black: #222222;
$white: #ffffff;
$grey-extra-dark: #666666;
$grey-dark: #999999;
$grey-medium: #CCCCCC;
$grey-light: #E4E4E4;
$grey-extra-light: #F5F5F5;

$error: #b45045;
$error-light: #EFC4BF;
$error-extra-light: #FCF3F2;
$warning: #ffc107;
$warning-light: #ffefc1;
$warning-extra-light: #fffcf2;
$info: #3986af;
$info-light: #CCE5F6;
$info-extra-light: #F5FAFD;
$success: #419241;
$success-light: #C4E2C4;
$success-extra-light: #F2F8F2;